.wrap {
	position: relative;
}
video#player {
	width: 100vw; /* Could also use width: 100%; */
	height: 100vh;
	object-fit: cover;
	position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
	left: 0px;
	top: 0px;
}

h1 {
	position: absolute;
	top: 0;
	margin: 0;
}

.header {
	position: absolute;
	width: 100%;
}

.header ul {
	list-style: none;
	text-align: center;
	background: rgb(100 60 68 / 24%);
}

ul.list-menu {
	display: flex;
	justify-content: center;
	list-style: none;
	text-align: center;
	flex: 2;
}

li.item-menu {
	padding: 34px 22px;
	margin-right: 8px;
	border-radius: 8px;
}

.item-menu a {
	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
}

.item-menu a:hover {
	color: #ed880a;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgb(100 60 68 / 24%);
	text-align: center;
	display: flex;
	align-items: center;
}

.controls-music {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0.4;
}

.controls-music:hover {
	cursor: pointer;
}

.controls-music .btn-control {
	font-size: 20px;
	border: 1px solid;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	animation-name: showBtn;
	animation-duration: 0.4s;
}
.controls-music #play {
	display: none;
}
.controls-music #play.active {
	display: flex;
}
.controls-music #pause {
	display: none;
}
.controls-music #pause.active {
	display: flex;
}

@keyframes showBtn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.detail-task {
	display: flex;
	flex: 2;
	align-items: center;
}

.detail-task .title-task {
	flex: 3;
	text-align: left;
	overflow: hidden;
}

.title-task marquee {
	font-size: 24px;
}

.detail-task .time-task {
	flex: 1;
	font-size: 28px;
}
